#landscape {
    background-color: rgb(54, 54, 196);

    background-image: url(img/img.jpg);
    
    
    
    background-repeat: no-repeat;

    
}

.overlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#snow {
   /* background-color: blueviolet; */
    
}

#snow .flake {
    top: -10%;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.726);
    /*border:  1px solid crimson; */
    border-radius: 100%;
    position: absolute;
    animation: fall 10s linear infinite;
}

#snow .flake.md {
    animation: fall 15s linear infinite;
    width: 6px;
    height: 6px;
}

#snow .flake.dl {
    animation: fall 17s linear infinite;
    width: 5px;
    height: 5px;
    background-image: linear-gradient( top to bottom #fff rgba(10, 8, 133, 0.418));
}

#snow .flake:nth-child(1) {
    left: 15%;
    animation-delay: 5s;
}

#snow .flake:nth-child(2) {
    left: 60%;
    animation-delay: 2.5s;
}
#snow .flake:nth-child(3) {
    left: 55%;
    animation-delay: 1s;
}
#snow .flake:nth-child(4) {
    left: 25%;
    animation-delay: 2.3s;
}

#snow .flake.md:nth-child(5) {
    left: 10%;
    animation-delay: 4.6s;
}

#snow .flake.md:nth-child(6) {
    left: 80%;
    animation-delay: 0.7s;
}

#snow .flake.md:nth-child(7) {
    left: 56%;
    animation-delay: 6s;
}

#snow .flake.md:nth-child(8) {
    left: 90%;
    animation-delay: 1.4s;
}

#snow .flake.md:nth-child(9) {
    left: 36%;
    animation-delay: 5s;
}

#snow .flake.md:nth-child(10) {
    left: 40%;
    animation-delay: 2s;
}

#snow .flake.dl:nth-child(11) {
    left: 78%;
    animation-delay: 2s;
}
#snow .flake.dl:nth-child(12) {
    left: 56%;
    animation-delay: 3s;
}
#snow .flake.dl:nth-child(13) {
    left: 43%;
    animation-delay: 4s;
}

#snow .flake.dl:nth-child(14) {
    left: 20%;
    animation-delay: 2s;
}
#snow .flake.dl:nth-child(15) {
    left: 22%;
    animation-delay: 1s;
}

#snow .flake.dl:nth-child(16) {
    left: 20%;
    animation-delay: 2.4s;
}

#snow .flake.dl:nth-child(17) {
    left: 77%;
    animation-delay: 2.3s;
}

#snow .flake.dl:nth-child(18) {
    left: 7%;
    animation-delay: 2.3s;
}

#snow .flake.dl:nth-child(18) {
    left: 98%;
    animation-delay: 1s;
}
#snow .flake.dl:nth-child(19) {
    left: 37%;
    animation-delay: 2s;
}




@keyframes fall {
    /*hw q - -10% at the top ,100% bottom */
    /* координаты заканчиваются в родительском элементе*/
    from { top: -10%}
    to   { top: 100%}

}
* {
    box-sizing: border-box;
 }

 .transparent {
    position: relative;
    max-width: 400px;
    padding: 60px 50px;
    margin: 50px auto 0;
    background-color: #01318aa1; 
    background-size: cover;
 }

 .transparent:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right bottom, rgba(43, 44, 78, .5), rgba(104, 22, 96, .5));
 }
 .form-inner {
    position: relative;
 }
 .form-inner h3 {
    position: relative;
    margin-top: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 26px;
    text-transform: uppercase;
 }

 .form-inner h3:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 60px;
    background: #1762EE;
 }

 .form-inner label {
    display: block;
    padding-left: 15px;
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, .6);
    text-transform: uppercase;
    font-size: 14px;
 }

 .form-inner input {
    display: block;
    width: 100%;
    padding: 0 15px;
    margin: 10px 0 15px;
    border-width: 0;
    line-height: 40px;
    border-radius: 20px;
    color: white;
    background: rgba(255, 255, 255, .2);
    font-family: 'Roboto', sans-serif;
 }

 .form-inner input[type="checkbox"] {
    position: absolute;
    opacity: 0;
 }

 #custom-checkbox+label {
    position: relative;
    margin: 20px 0;
    text-transform: none;
    cursor: pointer;
 }

 #custom-checkbox+label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: text-top;
    background: white;
 }

 #custom-checkbox:checked+label:before {
    background: #1762EE;
 }

 #custom-checkbox:checked+label:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    left: 20px;
    top: 9px;
    background: white;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
 }

 .form-inner input[type="submit"] {
    background: #1762EE;
 }

/*
hw add more flakes 
gradients
add small and slower
radial gradient
add layer on top + h1 lorem ipsum +form */